<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBHkn8RUnL6AKMFoYTgbUtclDvtf1KTciU</string>
	<key>GCM_SENDER_ID</key>
	<string>1095759745190</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Atta.PokerPioneerPro</string>
	<key>PROJECT_ID</key>
	<string>poker-pioneer-pro</string>
	<key>STORAGE_BUCKET</key>
	<string>poker-pioneer-pro.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1095759745190:ios:33e986ac5ba6569e67a467</string>
</dict>
</plist>